### Predicción de Ventas en las Sucursales de una Cadena de Supermercados

# Trabajo Práctico N°4: Aprendizaje No Supervisado

## Introducción

En los prácticos previos, realizamos ciertos análsis exploratorios y aplicamos algunos modelos predictivos de aprendizaje supervisado. Prestamos espacial atención a dichos modelos, porque justamente ese era el objetivo central de la mentoría.

En este práctico, aplicaremos métodos de aprendizaje no supervisado. Dichas metodologías en muchos casos son aplicadas antes de las metodologías de aprendizaje supervisado, dado que frecuentemente nos permiten obtener algunos insumos útiles para las últimas.

Entre otros métodos, podemos destacar los correspodientes a clustering y los de reducción de dimensión (como en el caso de componentes principales). Algunas de las metodologías despliegan su máximo potencial cuando se dispone de muchas series. Veremos que ocurre con nuestro humilde dataset!

Para una mejor experiencia de aprendizaje, en este práctico es conveniente trabajar con las diversas familias de productos en vez de hacerlo por sucursales como en los TPs anteriores. Esto es así porque las familias de productos son más heterogéneas que las sucursales.

Finalmente se incluyen algunos incisos adicionales opcionales que exceden al cursado de la diplomatura pero son muy interesantes!

### Carga del dataset

In [7]:
import pandas as pd

In [8]:
url = "https://www.dropbox.com/s/bbt21ors7tms6bn/train.csv?dl=1"
df = pd.read_csv(url)

In [9]:
df.drop(['id','onpromotion'], axis = 1, inplace = True)
df  = df.groupby(by=['family','date']).sum().unstack(0)
df = df['sales']

In [10]:
df

family,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,CLEANING,DAIRY,DELI,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0.0,0.0,2.0,810.0,0.0,180.58900,0.0,186.0,143.0,71.090000,...,0.0,110.801000,25.0,0.0,0.0,42.637000,37.847000,0.00000,0.0,0.000000
2013-01-02,255.0,0.0,207.0,72092.0,0.0,26246.31900,0.0,74629.0,23381.0,15754.500000,...,0.0,20871.464028,17204.0,0.0,0.0,13975.884938,5338.111976,0.00000,0.0,1526.750002
2013-01-03,161.0,0.0,125.0,52105.0,0.0,18456.48002,0.0,55893.0,18001.0,11172.455000,...,0.0,16597.398113,12568.0,0.0,0.0,10674.393983,3591.388005,0.00000,0.0,1094.310994
2013-01-04,169.0,0.0,133.0,54167.0,0.0,16721.96901,0.0,52064.0,18148.0,10143.209000,...,0.0,21625.963055,11303.0,0.0,0.0,10772.515038,4472.965990,0.00000,0.0,1293.120995
2013-01-05,342.0,0.0,191.0,77818.0,0.0,22367.76108,0.0,70128.0,23082.0,13734.945010,...,0.0,20879.091050,16819.0,0.0,0.0,13475.009055,5830.073020,0.00000,0.0,1245.637004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-11,441.0,7.0,351.0,189111.0,0.0,28204.48600,870.0,55682.0,44909.0,18680.488004,...,500.0,26944.092010,15978.0,587.0,654.0,25318.297990,5199.494021,118738.14300,3523.0,1272.615997
2017-08-12,403.0,3.0,369.0,182318.0,0.0,27403.54800,849.0,57935.0,42854.0,15689.893010,...,483.0,17775.650112,15903.0,508.0,712.0,19134.510058,4573.465992,111788.35090,3644.0,1028.030006
2017-08-13,481.0,9.0,433.0,202354.0,1.0,33262.75700,544.0,61757.0,50112.0,17593.274020,...,469.0,18633.015039,18188.0,541.0,741.0,20509.265004,4941.509018,125923.80240,3718.0,1118.047000
2017-08-14,292.0,9.0,337.0,174832.0,0.0,28002.45700,594.0,55032.0,43050.0,14662.741000,...,457.0,16975.686040,15077.0,417.0,500.0,18597.508060,4647.375002,115257.59598,2826.0,970.679999
2017-08-15,337.0,8.0,339.0,170773.0,0.0,29158.19502,597.0,58474.0,40707.0,14935.453000,...,461.0,17928.170944,14787.0,364.0,592.0,17586.709986,4641.522980,125108.97100,2530.0,970.177005

Guardado del dataset

In [11]:
file_name = 'dataset_by_family.xlsx'
df.to_excel(file_name)

Lectura

In [12]:
df = pd.read_excel('dataset_by_family.xlsx',index_col=0 ,parse_dates=True)

In [13]:
df

,AUTOMOTIVE,BABY CARE,BEAUTY,BEVERAGES,BOOKS,BREAD/BAKERY,CELEBRATION,CLEANING,DAIRY,DELI,...,MAGAZINES,MEATS,PERSONAL CARE,PET SUPPLIES,PLAYERS AND ELECTRONICS,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0,0,2,810,0,180.58900,0,186,143,71.090000,...,0,110.801000,25,0,0,42.637000,37.847000,0.00000,0,0.000000
2013-01-02,255,0,207,72092,0,26246.31900,0,74629,23381,15754.500000,...,0,20871.464028,17204,0,0,13975.884938,5338.111976,0.00000,0,1526.750002
2013-01-03,161,0,125,52105,0,18456.48002,0,55893,18001,11172.455000,...,0,16597.398113,12568,0,0,10674.393983,3591.388005,0.00000,0,1094.310994
2013-01-04,169,0,133,54167,0,16721.96901,0,52064,18148,10143.209000,...,0,21625.963055,11303,0,0,10772.515038,4472.965990,0.00000,0,1293.120995
2013-01-05,342,0,191,77818,0,22367.76108,0,70128,23082,13734.945010,...,0,20879.091050,16819,0,0,13475.009055,5830.073020,0.00000,0,1245.637004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-11,441,7,351,189111,0,28204.48600,870,55682,44909,18680.488004,...,500,26944.092010,15978,587,654,25318.297990,5199.494021,118738.14300,3523,1272.615997
2017-08-12,403,3,369,182318,0,27403.54800,849,57935,42854,15689.893010,...,483,17775.650112,15903,508,712,19134.510058,4573.465992,111788.35090,3644,1028.030006
2017-08-13,481,9,433,202354,1,33262.75700,544,61757,50112,17593.274020,...,469,18633.015039,18188,541,741,20509.265004,4941.509018,125923.80240,3718,1118.047000
2017-08-14,292,9,337,174832,0,28002.45700,594,55032,43050,14662.741000,...,457,16975.686040,15077,417,500,18597.508060,4647.375002,115257.59598,2826,970.679999
2017-08-15,337,8,339,170773,0,29158.19502,597,58474,40707,14935.453000,...,461,17928.170944,14787,364,592,17586.709986,4641.522980,125108.97100,2530,970.177005

# Consignas del trabajo práctico N°4

A partir de las series, se proponen las siguientes actividades orientadoras, sin perjuicio de que se puedan incorporar análisis adicionales y consultar otras fuentes. 

**Se pide:**

#### Clustering

* Aplicar el algoritmo __Mean Shift__. En este caso se pueden usar los criterios de información como guía para determinar la cantidad óptima de clusters.

* Aplicar __k-means__. Seleccionar el valor de k de acuerdo a la inercia o el análisis de siluetas.

* Usar las medidas de distancia __dynamic time warping__ y __soft dynamic time warping__ para agrupar por k-means y comparar con lo obtenido con la métrica euclídea. [Código y algunos detalles](https://towardsdatascience.com/how-to-apply-k-means-clustering-to-time-series-data-28d04a8f7da3). [Otra referencia](https://empresas.blogthinkbig.com/clustering-de-series-temporales-con-python/).

* Aplicar al menos un algoritmo de __clustering jeráquico__.

* Comentar los resultados brevemente.

#### Embeddings

* Aplicar el análisis de __componentes principales__ con las series y con las series previamente estandarizadas.

* Comentar los resultados brevemente.


**Opcional:**

* Aplicar el algoritmo __k-shape__  y comparar con lo obtenido usando los otros métodos. [Código](https://empresas.blogthinkbig.com/clustering-de-series-temporales-con-python/). [Paper](http://www.cs.columbia.edu/~gravano/Papers/2016/sigmod-record16.pdf)

* Aplicar __factores dinámicos__ para ver si las series se pueden resumir en uno o unos pocos constructos subyacentes. 
[Código y algunos detalles](https://www.statsmodels.org/stable/examples/notebooks/generated/statespace_dfm_coincident.html)

## Fecha de entrega

__31/10__ 


## Condiciones de entrega

Realizar un informe en el cual se presenten los resultados y conclusiones del análisis realizado. El mismo debe estar pensado para un público técnico pero que desconoce los aspectos propios del problema a resolver, tal como los compañeros de clase. Dicho informe puede ser un notebook, a condición de que en el mismo se efectúe un análisis escrito suficientemente detallado de los resultados.